<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ooops 404 - Not Found</title>
</head>
<body>
<h1>Sorry 404 - Not Found</h1>
<p>Requested resource seems not to exist!</p>
<p style="font-family: 'Courier New'; font-size: 12pt;">
    Boss replies &lt;&lt;
    {{ message|escape }}
    &gt;&gt;
</p>
</body>
</html>