/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300); */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

#head_wrapper {
	width: 100%;
	background: rgb(239,239,239);
}

table {
    border-spacing: 0px;
}

p, h1, h2, h3, h4, h5 {
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2, h3, h4, h5 {
    color: rgb(235,79,66);
}

/* Value this to add space between text and table edges
table td p, table td h1, table td h2, table td span {
    margin: 2px;
} */

#head {
	width: 75%; /* 1000px */
	height: 120px;
	background: url('/resources/images/logo_head.gif') no-repeat rgb(239,239,239);
	/* background-size: cover; */
	margin: auto;
}

#lang {
	margin-top: 15px;
	margin-right: 2%;
	float: right;
	background: rgba(255,255,255,0.75);
	/*background: url('images/lang.png');*/
	/*opacity: 0.9;*/
	border-radius: 15px;
	padding-top: 7px;
	padding-bottom: 2px;
	padding-left: 13px;
	padding-right: 5px;
}

.languageflag {
	border: none;
	margin-right: 10px;
	height: 20px;
	width: 30px;
}

#menu-wrap {
    width: 100%;
    background: rgba(139,137,138,1);
}

#menu {
	width: 1000px;
	height: 39px;
	margin: auto;
	margin-top: 2px;
	background: rgba(139,137,138,1);
}

#menu ul {
	padding: 0px;
	margin: 0px;
}

#menu li {
	position: relative;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu li a {
	min-width: 70px;
    width: 100px; /* Fit this size when menu is completed */
	height: 39px;
	line-height: 39px;
	display: block;
	padding: 0px 15px;
	text-decoration: none;
	text-align: center;
	color: rgb(230, 230, 230);
	font-weight: normal;
	font-size: 10pt;
}
#menu .selected {
	background: rgba(139,137,138,1);
	color: black;
}
#menu li:hover a {
	color: black;
	background: rgba(139,137,138,1);
}
#menu li a:hover {
	text-decoration: underline;
}
#menu ul ul {
	position: absolute;
	top: 39px;
	visibility: hidden;
	text-decoration: none;
	background: rgba(139,137,138,1);
}
#menu ul li:hover ul {
	visibility: visible;
}
#menu ul li ul li:hover {
	background: rgba(139,137,138,1);
	text-decoration: underline;
}

.extended_wrapper {
	/* background: url('../images/extended_bg.png') repeat-y; */
	/* background-size: 100%; */
	background: rgb(1,113,186);
	min-width: 700px;
	width: 100%;
	margin: 0px;
	margin-top: 5px;
}

.extended_content {
	/* padding: 10px; */
	margin: auto;
	width: 1000px;
	min-width: 700px;
	color: white;
	overflow: hidden;
}

.content {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 1000px;
	min-width: 700px;
	background: rgba(255,255,255,0.75);
	margin: auto;
	margin-top: 5px;
	/* padding: 10px; */
	text-align: justify;
	text-justify: inter-word;
	overflow: hidden;
}
.content h1 {
	text-align: center;
}

.column {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

body {
	/* background: url('../images/body_bg.jpg');
	background-attachment: fixed;
	background-size: 100%; */
    background: rgb(247,247,247);
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
	padding: 0px;
}

h1, h2 {
	font-weight: lighter;
}
