<form method="POST">
    <table>
        <tr><td>Referente</td><td><input type="text" name="referrer"></td></tr>
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>
        <tr><td>Testo</td><td><textarea name="content" rows="8" cols="30"></textarea></td></tr>
        <tr><td colspan="2" style="text-align: center;"><input type="submit" id="contactme-submit-btn" value="Invia"></td></tr>
    </table>
</form>