@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
/* CUSTOM STYLE */
.main {
	padding: 15px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.list-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    max-width: 90%;
}
.actions-col {
    min-width: 80px;
    text-align: center;
}
a:visited i {
	color: rgb(25,24,24);
}
a i {
	color: rgb(25,24,24);
	margin-left: 3px;
	margin-right: 3px;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
legend {
	font-weight: bold;
	font-size: 1.1em;
	text-shadow: 3px;
}
#toolbar {
	background-color: rgb(31,141,214);
	height: 55px;
	padding-top: 2px;
}
#toolbar h1 {
	text-align: center;
	margin-top: 0px;
	color: white;
}
.red-button {
	background: rgb(202, 60, 60);
}
.green-button {
	background: rgb(28, 184, 65);
}
.red-border-input {
    border-color: rgb(202, 60, 60);
}
.green-border-input {
    border-color: rgb(28, 184, 65);
}
i {
    cursor: pointer;
}

/* Fa in modo che il contenuto del blocco non si sovrapponga ai pulsanti di gestione del
blocco nella modifica pagina/blocco */
.blockcontentdiv {
    overflow: hidden;
}
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 200px;
    }
        #layout.active #menu {
            left: 200px;
            width: 200px;
        }

        #layout.active .menu-link {
            left: 200px;
        }

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -200px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #d0d0d0;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

        .pure-menu-link i, .pure-menu-link:visited i {
            color: #d0d0d0;
        }

        #menu .pure-menu-selected a i, #menu .pure-menu-selected:visited a i {
            color: white;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
	
    #layout {
        padding-left: 200px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 200px;
    }

    .menu-link {
        position: fixed;
        left: 200px;
        display: none;
    }

    #layout.active .menu-link {
        left: 200px;
    }
}


/* -- Alert box Style ------------------------------------------------------- */

.alert {
    /* padding: 19px 15px; */
    padding: 19px 15px;
    color: #fefefe;
    position: relative;
    font: 14px/20px; /* Museo300Regular, Helvetica, Arial, sans-serif; */
}
.alert .msg { padding: 0 20px 0 40px;}
.alert p { margin: 0;}
.alert .toggle-alert {
    position: absolute;
    top: 7px;
    right: 10px;
    display: block;
    text-indent: -10000px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.08) url('/static/admin/images/alert.png') no-repeat 6px 6px;
}
.info-box {		background: #2fa9f6 url('/static/admin/images/info.png') no-repeat 14px 14px;}
.success-box {	background: #7EB62E url('/static/admin/images/success.png') no-repeat 14px 14px;}
.error-box {	background: #f64b2f url('/static/admin/images/error.png') no-repeat 14px 14px;}
.notice-box {	background: #f6ca2f url('/static/admin/images/notice.png') no-repeat 14px 14px;}